$verde: #21c05c;
$verde-escuro: #16a34a;
$cinza-texto: #4b5563;
$cinza-fundo: #f3f5f8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .caixaLogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 12%;
  }

  h1 {
    font-size: 2rem;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: $cinza-texto;
    }

    .btnVerdeHeader {
      background-color: $verde;
      color: #ffffff;
      padding: 18px;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cinza-fundo;
}

.primeiraSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;

  section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      font-size: 3.75rem;
      font-weight: 700;
      width: 55%;
    }

    p {
      font-size: 1.25rem;
      width: 50%;
    }
  }

  .boxBtnsPrimeiraSection {
    width: 50%;
    display: flex;
    justify-content: space-around;

    button {
      cursor: pointer;
      padding: 30px 40px;
    }

    .btnVerde {
      background-color: $verde;
      color: #ffffff;
    }

    .btnBranco {
      background-color: #ffffff;
      border: 2px solid $verde;
      color: $verde;
    }
  }
}

.dadosNumericos {
  background-color: $cinza-fundo;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 20vh;

  div {
    width: 15%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #000;

    h2 {
      color: $verde-escuro;
    }
  }
}

.produtosDisponiveis {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  article {
    width: 20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100%;
      height: 30vh;
      border: 1px solid #000;
    }

    button {
      width: 45%;
      height: 5vh;
      background-color: $verde-escuro;
      color: #ffffff;
      font-weight: 900;
      font-size: 1.2rem;
      border-radius: 15px;
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 20vh;

    .caixaLogo { width: 70%; }
    nav { width: 100%; }

    nav a,
    nav .btnVerdeHeader { font-size: 0.8rem; }
  }

  .primeiraSection {
    flex-direction: column;
    text-align: center;
    height: 80vh;

    section {
      height: 70vh;

      h2 {
        font-size: 1.5rem;
        width: 100%;
      }
      p { width: 100%; }
    }

    .boxBtnsPrimeiraSection {
      width: 100%;
      button { padding: 20px 30px; }
    }

    img { width: 50%; }
  }

  .dadosNumericos {
    height: 25vh;
    div {
      width: 30%;
      h2 { font-size: 1.8rem; }
      p { font-size: 1rem; }
    }
  }

  .produtosDisponiveis {
    flex-direction: column;
    article {
      width: 80%;
      text-align: center;
      button {
        width: 70%;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}